@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.parallax-container {
  height: 110vh;
}

.biyrocketsq {
  margin-left: 400px;
  margin-top: -110px;

  background-position: center center;
}

.logo-sponsors-div {
  background-position: center center;
  height: 110vh;

  padding: 50px 10px !important;
  text-align: center;
  background-color: #cbcbcb;
}

.logo-sponsors-div img {
  width: auto;
  height: 30%;
}

.logo-sponsors-div h5 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  color: #353740;
}

.logo-sponsors-div h2 {
  color: white;
  line-height: 0.8;

  text-shadow: rgb(107, 107, 107) 1px 0.5px 1px;
  /* /padding: 10px; */
  font-size: 65px;
}

.logo-sponsors-div p,
h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container h5 {
  font-family: "Poppins", sans-serif;
}
.logo-sponsors-div > p {
  font-size: 18px;
  /* line-height: 2em; */

  font-weight: 300;

  color: #353740;
}
.img-logo {
  vertical-align: middle;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0px 20px;
}
.row-form-sponsor {
  position: relative;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.row-form-sponsor h4 {
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  font-family: "Poppins", sans-serif !important;
}
.type-of-sponsor-row p,
h6,
button {
  font-family: "Poppins", sans-serif !important;
  text-align: center;
}

.type-of-sponsor-row h1 {
  font-size: 43px;
  font-family: "Anton";
  text-align: center;
  letter-spacing: 3px;
}

.row-form-sponsor {
  background-image: url("./images/bradford.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Montserrat";
}

/* label color */
.input-field label {
  color: #000;
}

.sponsor-form-field {
  align-content: center;
  margin: 10px 150px !important;
}

.sponsor-form {
  background-color: white;
  margin-top: 50px;
}
/* label focus color */
.sponsor-form-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.sponsor-form-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  color: black;
  text-decoration: none !important;
}
/* valid color */
.sponsor-form-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.isponsor-form-field .prefix.active {
  color: #000;
}
