#logo {
  max-height: 100%;
  display: inline-block;
}

.nav-logout-view {
  background-color: white;
  z-index: 99999;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none !important;
}

.nav-links a {
  color: #333333af;

  font-family: "Poppins", sans-serif;
}
