@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

#logo {
  max-height: 100%;
  display: inline-block;
}

.nav-logout-view {
  background-color: white;
  z-index: 99999;
  padding-right: 30px;
  padding-left: 30px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none !important;
}

.nav-links a {
  color: #333333;

  font-family: "Poppins", sans-serif;
}

.nav-links {
  color: #333333;
}
.fa-caret-down {
  color: #333333;
  padding-left: 5px;
  padding-top: 10px;
  font-size: 1.2rem;
}

.sub-link a {
  color: #333333 !important;
}
